<!-- Outer Wrapper-->
<div id="outer-wrapper">
  <!-- Inner Wrapper -->
  <div id="inner-wrapper">
    <!-- Navigation-->
    <div class="header">
      <div class="wrapper">
        <div class="brand">
          <a href="index-directory.html"><img src="<%= asset_path('logo.png') %>" alt="logo"></a>
        </div>
        <nav class="navigation-items">
          <div class="wrapper">
            <ul class="main-navigation navigation-top-header">
              <%= render 'externals/navigation' %>
            </ul>
            <div class="toggle-navigation">
              <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- end Navigation-->
    <!-- Page Canvas-->
    <div id="page-canvas" style="">
      <!--Off Canvas Navigation-->
      <nav class="off-canvas-navigation">
        <header>Navigation</header>
        <div class="main-navigation navigation-off-canvas"></div>
      </nav>
      <!--end Off Canvas Navigation-->
      <!--Page Content-->
      <div id="page-content" style="height:100%">
        <!-- Map Canvas-->
        <div class="map-canvas list-width-30" style="height: calc(100% - 10px);">
          <!-- Map -->
          <div class="map" style="height:100%">
            <div class="toggle-navigation">
              <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
            <!--/.toggle-navigation-->
            <div id="map"></div>
            <!--/#map-->
          </div>
          <!-- end Map -->
          <!--Items List-->
          <div class="items-list">
            <div class="inner">
              <header>
                <h3>Results</h3>
              </header>
              <ul class="results list">
              </ul>
            </div>
            <!--results-->
          </div>
          <!--end Items List-->
        </div>
        <!-- end Map Canvas-->
      </div>
      <!-- end Page Content-->
    </div>
    <!-- end Page Canvas-->
    <!--Page Footer-->
    <footer id="page-footer">
      <div class="inner">
        <div class="footer-bottom">
          <div class="container">
            <span class="left">(C) ThemeStarz, All rights reserved</span>
            <span class="right">
              <a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
            </span>
          </div>
        </div>
      </div>
    </footer>
    <!--end Page Footer-->
  </div>
  <!-- end Inner Wrapper -->
</div>
<script>
var _latitude = 51.541216;
var _longitude = -0.095678;
var jsonPath = "<%= asset_path('items.json') %>";
// Load JSON data and create Google Maps
$.getJSON(jsonPath)
  .done(function(json) {
    createHomepageGoogleMap(_latitude,_longitude,json);
  })
  .fail(function( jqxhr, textStatus, error ) {
    console.log(error);
  })
;
$(document).on("ready page:load", function(){
  var rtl = false; // Use RTL
  initializeOwl(rtl);
  autoComplete();
  var $body = $('body');
  $('.map-canvas').height( $(window).height() - $('.header').height() );
  if($body.hasClass('map-fullscreen') ) {
      if( $(window).width() > 768 ) {
          $('.map-canvas').height( $(window).height() - $('.header').height() );
      }
      else {
          $('.map-canvas #map').height( $(window).height() - $('.header').height() );
      }
  }
});
</script>
