@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
html,body{
  @include transition(all, 1s, ease-in-out);
  height:100%;
  margin: 0;
}
body{
  opacity: 0;
}
#landing-container, #playlist-creator-container{
  height:100%;
}
// Change to watch in slow motion
$duration: .5s;

$size : 100%;
$toggled-size : .75;

$bg : #449A88;
$nav-bg  : #2A2A2A;
$content-bg : #E7E6DD;

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: .8;
  .navicon:before, .navicon:after {
    transition: $duration/2;
  }
  &:hover {
    transition: $duration;
    opacity: 1;
    .navicon:before, .navicon:after {
      transition: $duration/2;
    }
    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
  transform: scale($toggled-size);
}

.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: $content-bg;
  transition: $duration;
  border-radius: 2.5rem;

  &:before, &:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: $content-bg;
    position: absolute;
    z-index: -1;
    transition: $duration $duration/2;
    border-radius: 1rem;
  }

  &:before { top: .625rem; }
  &:after { top: -.625rem; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open { transform: scale($toggled-size); }

/* Arrows */
.open.larr .navicon,
.open.rarr .navicon,
.open.uarr .navicon {
  &:before, &:after {
    width: 1.5rem;
  }

  &:before { transform: rotate(35deg); transform-origin: left top; }
  &:after { transform: rotate(-35deg); transform-origin: left bottom; }
}
.open.uarr { transform: scale($toggled-size) rotate(90deg); }

/* Arrows */
.open.rarr .navicon {
  &:before { transform: translate3d(1em,0,0) rotate(-35deg); transform-origin: right top; }
  &:after { transform: translate3d(1em,0,0) rotate(35deg); transform-origin: right bottom; }
}

/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;

    &:before { transform: rotate(-45deg); }
    &:after { transform: rotate(45deg); }
  }
}
.open.plus { 
  transform: scale($toggled-size) rotate(45deg) 
}
.venue-list-item{
  @include transition(all, 0.3s, ease-in-out);
}
.mCSB_container{
  @include transition(all, 0.3s, ease-in-out);
}
.item{
  .price{
    @include transition(all, 0.3s, ease-in-out);
    &:hover{
      background-color: #FF6151;
      cursor: pointer;
    }
  }
}
.artist-song{
  cursor:pointer;
  &:hover{
    .song-info{
      background: #373737;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  .song-info{
    @include transition(all, 0.5s, ease-in-out);
    padding: 5px;
  }
}
.blurred{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
